<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - sickfunny</title>
    <meta property="og:title" content="{{ title }} - sickfunny">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://sickfunny.co{{ page.url }}">
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    {% if author %}
      <meta name="author" content="{{ author }}">
    {% endif %}
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">
    <link rel="stylesheet" href="{{ 'src/css/styles.css' | hashedCss }}" />
  </head>
  <body>

    <header>
      <div class="title"><a href="/" rel="home" aria-label="sickfunny homepage"><strong>sick</strong>funny x&#41;</a></div>
    </header>

    <main role="main">
      {{ content | safe }}
    </main>
    
    <footer>
      <p>log: site build completed — 0 warnings, 0 errors</p>
      <p>log: served in <span id="load-time"></span></p>
    </footer>

    <script>
      window.addEventListener('load', () => {
        const [navigation] = performance.getEntriesByType('navigation');
        const loadTime = navigation ? Math.round(navigation.domContentLoadedEventEnd) : 0;
        document.querySelector('#load-time').textContent = `${loadTime}ms`;
      });
    </script>

    <script data-goatcounter="https://sickfunny.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
