---
layout: layout.njk
title: {{ title }}
---

<article>
  <header>
    <h1>{{ title }}</h1>
    <p><i>
      [<time datetime="{{ page.date | isoDate }}">{{ page.date | date }}</time>]
      <br>
      tags: {% for tag in tags %}<a href="/tags/{{ tag | slug }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
    </i></p>
  </header>
  {{ content | safe }}
</article>
<nav>
  <button onclick="navigator.share({url:location.href,title:document.title})" id="share" hidden>share</button>
  <script>if(navigator.share)share.hidden=false</script>
  <br />
  <br />
  <a href="/">back to safety</a> 
</nav>
