---
layout: layout.njk
title: {{ title }}
---

<article>
  <h1>{{ title }}</h1>
  <p><em>{{ page.date | date }}</em></p>
  {{ content | safe }}
  <p style="margin-top:2.5rem;"><a href="/">back to safety</a></p>
</article>
