/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* Body and container */
html {
  font-size: 16px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 2rem;
  max-width: 768px;
  margin: 0 auto;
}

header, main, footer {
  padding: 0 1rem;
}

header {
  border-bottom: 1px solid #000;
}

footer {
  font-family: monospace;
  font-size: 0.875rem;
  color: #666;
  border-top: 1px dashed #ccc;
  padding-top: 2rem;
  margin-top: 2rem
}

pre {
  background: #f9f9f9;
  padding: 1rem;
  overflow-x: auto;
  font-size: 0.875rem;
  font-family: monospace;
}

figure {
  max-width: 640px;
  display: block;
  margin: 0 auto;
}

figcaption {
  font-size: 0.875rem;
  font-weight: 400;
  color: #666;
  margin: -0.5rem 0 2rem;
  text-align: right;
}

img {
  width: 100%;
  height: 100%;
  filter: grayscale(0.6);
  border-radius: 0.5rem;
}

article, section {
  margin-bottom: 3rem;
}

ul {
  list-style: none;
}

/* Typography */
strong {
  font-weight: 500;
}

h1, .title {
  font-size: 3rem;
  margin: 1rem 0 1.5rem;
  font-weight: 100;
  line-height: 1.2;
}

h1 a, .title a, .merch-item a, h2 a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  font-weight: 500;
  line-height: 1.2;
}

p, ul, pre {
  margin-bottom: 2rem;
}

a {
  color: #BA5850;
}

/* Custom */
article ul {
  list-style: disc;
}

article li {
  margin: 0 0 0 1.5rem;
}

#merch .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.merch-item figure {
  position: relative;
}

.merch-item figcaption {
  position: absolute;
  bottom: 15px;
  left: 5px;
  margin: 0;
  font-size: 1.125rem;
  text-align: left;
  color: #fff;
  font-family: monospace;
  line-height: 1;
  letter-spacing: -2px;
  font-weight: 900;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.post-preview .meta {
  font-size: 0.875rem;
  color: #666;
  margin: 0.5rem 0;
}

span[title] {
  border-bottom: 1px dashed #999;
  cursor: help;
}

/* Responsive tweaks */
@media (max-width: 640px) {
  html {
    font-size: 14px;
  }

  body {
    padding: 0 1rem 1.5rem;
  }

  #merch .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
