/* Base reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body and container */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  font-size: 1.125rem;
  font-weight: 300;
  max-width: 65ch;
  margin: 0 auto;
  padding: 1rem 2rem 2rem;
}

body>header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #000;
}

footer {
  font-family: monospace;
  font-size: 0.875rem;
  color: #767676;
  border-top: 1px dashed #949494;
  padding-block-start: 2rem;
  margin-block-start: 2rem;
}

pre {
  background: #f9f9f9;
  padding: 1rem;
  overflow-x: auto;
  font-size: 0.875rem;
}

figure {
  max-width: 640px;
  margin: 0 auto;
}

figcaption {
  font-size: 0.875rem;
  color: #767676;
  margin: -0.5rem 0 0;
}

img {
  width: 100%;
  height: auto;
  filter: grayscale(0.6);
  border-radius: 0.5rem;
}

section,
article,
h1 {
  margin: 2rem 0;
}

/* Typography */
strong {
  font-weight: 500;
}

h1,
.title {
  font-weight: 100;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

.title {
  display: block;
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  margin: 0 0 1rem;
}

h1 a,
h2 a,
.merch-item a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 1.25rem;
  margin: 2rem 0 0.25rem;
  font-weight: 500;
  line-height: 1.2;
}

p,
ul,
pre {
  margin-bottom: 2rem;
}

a {
  color: #BA5850;
}

/* Custom */
article li {
  margin: 0 0 0 1.5rem;
}

.container {
  list-style: none;
}

#merch .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

small {
  color: #767676;
  display: block;
  margin: 0.25rem 0;
}

picture:has(img.product) {
  float: left;
  max-width: 150px;
  margin: 0.25rem 1.5rem 1rem 0;
  font-size: 0;

  img {
    width: 150px;
    height: 150px;
  }
}

.product-link {
  margin-bottom: -1rem;
  display: block;
}

/* Responsive tweaks */
@media (max-width: 640px) {
  html {
    font-size: 14px;
  }

  body {
    padding: 0.75rem 1rem 1.5rem;
  }

  #merch .container {
    grid-template-columns: repeat(3, 1fr);
  }
}