---
layout: layout.njk
title: home
description: dark humor, cursed experiments, and weird tools for anyone still bothering to click
---

<section id="merch">
  <h1>merch.</h1>
  <ul class="container">
    <li class="merch-item">
      <a href="https://shop.sickfunny.co/listing/buy-litty-kitty" target="_blank" rel="noopener">
        <figure>
          <img 
            src="/img/sad-but-lit.jpg" 
            alt="white t-shirt with the phrase 'litty kitty' feature large house cat" 
            loading="eager" 
            eleventy:widths="160,320"
            sizes="160px"
            fetchpriority="high" 
          />
          <figcaption>litty kitty . $22</figcaption>
        </figure>
      </a>
    </li>
    <li class="merch-item">
      <a href="https://shop.sickfunny.co/listing/get-smoke-meth" target="_blank" rel="noopener">
        <figure>
          <img 
            src="/img/smoke-meth.jpg" 
            alt="red t-shirt with the phrase 'smoke meth hail satan' with pentagram" 
            loading="eager" 
            eleventy:widths="160,320"
            sizes="160px"
            fetchpriority="high" 
          />
          <figcaption>smoke meth . $22</figcaption>
        </figure>
      </a>
    </li>
    <li class="merch-item">
      <a href="https://shop.sickfunny.co/listing/can-t-stop-2025" target="_blank" rel="noopener">
        <figure>
          <img 
            src="/img/cant-stop.jpg" 
            alt="blue t-shirt with the phrase 'can't stop wont stop' show chips and dip"
            loading="eager" 
            eleventy:widths="160,320"
            sizes="160px"
            fetchpriority="high" 
          />
          <figcaption>can't stop . $22</figcaption>
        </figure>
      </a>
    </li>
  </ul>
</section>

<section id="posts">
  <h1>latest posts.</h1>
  <ul class="container">
    {% for post in collections.post | reverse %}
      <li>{% include "post-preview.njk" %}</li>
    {% endfor %}
  </ul>
</section>

<section id="tags">
  {% for tagObj in collections.tagList %}
    {% if tagObj.tag != "all" %}
      <a href="/tags/{{ tagObj.tag | slug }}/">
        {{ tagObj.tag }} 
        ({{ tagObj.count }})</a>{% if not loop.last %}, {% endif %}
    {% endif %}
  {% endfor %}
</section>