---
layout: layout.njk
title: home
description: dark humor, cursed experiments, and weird tools for anyone still bothering to click
---

<section id="merch">
  <h1 class="hidden">home</h1>

  <h2>merch.</h2>
  <div class="container">
    <div class="merch-item">
      <a href="https://shop.sickfunny.co/listing/buy-litty-kitty">
        <figure>{% image "./src/img/sad-but-lit.jpg", "litty kitty tee", { loading: "eager", sizes: "172px" } %}
          <figcaption>litty kitty $22.99</figcaption>
        </figure>
      </a>
    </div>
    <div class="merch-item">
      <a href="https://shop.sickfunny.co/listing/get-smoke-meth">
        <figure>{% image "./src/img/smoke-meth.jpg", "smoke meth tee", { loading: "eager", sizes: "172px" } %}
          <figcaption>smoke meth $22.99</figcaption>
        </figure>
      </a>
    </div>
    <div class="merch-item">
      <a href="https://shop.sickfunny.co/listing/can-t-stop-2025">
        <figure>{% image "./src/img/cant-stop.jpg", "can't stop tee", { loading: "eager", sizes: "172px" } %}
          <figcaption>can't stop $22.99</figcaption>
        </figure>
      </a>
    </div>
  </div>
</section>

<section id="posts">
  <h2>latest posts.</h2>
  <div class="container">
    {% for post in collections.post | reverse %}
      <article class="post-preview">
        <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
        <p class="meta">
          {{ post.date | date }}
          {% if post.data.readTime %} • {{ post.data.readTime }}{% endif %}
        </p>
        <p>{{ post.data.description or "…" }}</p>

        {% if post.data.tags %}
          <p class="meta">tags:
            {% for tag in post.data.tags %}
              <a href="/tags/{{ tag | slug }}.html">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </p>
        {% endif %}

        <a href="{{ post.url }}">read more →</a>
      </article>
    {% endfor %}
  </div>
</section>