---
layout: layout.njk
title: home
description: dark humor, cursed experiments, and weird tools for anyone still bothering to click
---

<section id="merch">
  <h1>merch.</h1>
  <ul class="container">
    <li class="merch-item">
      <figure>
        <a href="https://shop.sickfunny.co/listing/buy-litty-kitty" target="_blank" rel="noopener">
          <img 
            src="/img/sad-but-lit.jpg" 
            alt="white t-shirt with the phrase 'litty kitty' feature large house cat" 
            loading="eager" 
            eleventy:widths="172,350,700"
            sizes="(max-width: 414px) 172px, (max-width: 767px) 350px, 172px"
            fetchpriority="high" 
          />
        </a>
        <figcaption>$22.99<br />litty kitty</figcaption>
      </figure>
    </li>
    <li class="merch-item">
      <figure>
        <a href="https://shop.sickfunny.co/listing/get-smoke-meth" target="_blank" rel="noopener">
          <img 
            src="/img/smoke-meth.jpg" 
            alt="red t-shirt with the phrase 'smoke meth hail satan' with pentagram" 
            loading="eager" 
            eleventy:widths="172,350,700"
            sizes="(max-width: 414px) 172px, (max-width: 767px) 350px, 172px"
            fetchpriority="high" 
          />
        </a>
        <figcaption>$22.99<br />smoke meth</figcaption>
      </figure>
    </li>
    <li class="merch-item">
      <figure>
        <a href="https://shop.sickfunny.co/listing/can-t-stop-2025" target="_blank" rel="noopener">
          <img 
            src="/img/cant-stop.jpg" 
            alt="blue t-shirt with the phrase 'can't stop wont stop' show chips and dip"
            loading="eager" 
            eleventy:widths="172,350,700"
            sizes="(max-width: 414px) 172px, (max-width: 767px) 350px, 172px"
            fetchpriority="high" 
          />
        </a>
        <figcaption>$22.99<br />can't stop</figcaption>
      </figure>
    </li>
  </div>
</section>

<section id="posts">
  <h1>latest posts.</h1>
  <ul class="container">
    {% for post in collections.post | reverse %}
      <li>{% include "post-preview.njk" %}</li>
    {% endfor %}
  </ul>
</section>

<section id="tags">
  {% for tagObj in collections.tagList %}
    {% if tagObj.tag != "all" %}
      <a href="/tags/{{ tagObj.tag | slug }}/">
        {{ tagObj.tag }} 
        ({{ tagObj.count }})</a>{% if not loop.last %}, {% endif %}
    {% endif %}
  {% endfor %}
</section>