---
pagination:
  data: collections.tagList
  size: 1
  alias: tagObj
  addAllPagesToCollections: true
permalink: 'tags/{{ tagObj.tag | slug }}/index.html'
layout: layout.njk
eleventyComputed:
  title: "{{ tagObj.tag }} posts"
  description: "sickfunny posts tagged with {{ tagObj.tag }}"
---

{% if tagObj.tag == "all" %}
  {% set postsForTag = collections.post %}
{% else %}
  {% set postsForTag = [] %}
  {% for post in collections.post %}
    {% if post.data.tags and tagObj.tag in post.data.tags %}
      {% set _ = postsForTag.push(post) %}
    {% endif %}
  {% endfor %}
{% endif %}

<section id="posts">
  {% if tagObj.tag != "all" %}<h1>Posts tagged &ldquo;{{ tagObj.tag }}&rdquo;</h1>{% endif %}
  {% for post in postsForTag | reverse %}
      {% include "post-preview.njk" %}
  {% endfor %}
</section>

<nav>
  <a href="/">back to safety</a>
</nav>
