---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: 'tags/{{ tag | slug }}/index.html'
layout: layout.njk
eleventyComputed:
  title: "{{ tag }} posts"
  description: "sickfunny posts tagged with {{ tag }}"
---

{% if tag == "all" %}
  {% set postsForTag = collections.post %}
{% else %}
  {% set postsForTag = [] %}
  {% for post in collections.post %}
    {% if post.data.tags and tag in post.data.tags %}
      {% set _ = postsForTag.push(post) %}
    {% endif %}
  {% endfor %}
{% endif %}

<section id="posts">
  {% if tag != "all" %}<h1>Posts tagged &ldquo;{{ tag }}&rdquo;</h1>{% endif %}
  {% for post in postsForTag %}
      {% include "post-preview.njk" %}
  {% endfor %}
</section>
